
# estas son variables de entorno para el proyecto, se deben copiar a un archivo .env.local y completar los valores correspondientes
# VITE_APP_MODE es el modo de la aplicación, puede ser app o web
# VITE_API_URL es la url de la api, se debe completar con la url correspondiente si es local se puede usar http://localhost:5169 o un dominio si es remoto
VITE_APP_MODE=app
VITE_API_URL=